/*
  ========================================
  GENERAL
  ========================================
*/

html {
  font-size: 16px;
  overflow-y: scroll; /* eliminates position shift when scrollbar appears */
}

body {
  width: 100vw;
  height: 100%;
  background-color: #e5e5e8;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.content {
  max-width: 70vw;
  margin: 0 auto;
}

.bg-top {
  width: 100vw;
  height: 50vh;
  background-color: #607D8B;
  border-top: 5px solid #FF5722;
}

.bg-top h1 {
  position: relative;
  text-align: center;
  padding-top: 2.5%;
  font-size: 4em;
  letter-spacing: -2.4px;
  color: #fff;
}


/*
  ========================================
  BUTTONS
  ========================================
*/

button {
  width: 8em;
  display: inline-block;
  background-color: #FF5722;
  padding: 0.4em 1em;
  border-radius: 2px;
  color: #fff;
  font-size: 1.2em;
  border: none;
  outline:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button:hover {
  color: #fff;
  background-color: #FF8A65;
  transition: ease-in-out .1s;
  cursor: pointer;
}


/*
  ========================================
  LIST
  ========================================
*/

.list-container {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  width: 35%;
  height: auto;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*
  ========================================
  INPUT FIELD
  ========================================
*/

.user-input {
  margin-top: 8.5%;
  text-align: center;
}

.user-input input {
  height: 50px;
  width: 70%;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  border: none:
}

input {
  outline: none;
}

.title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase
}

.list-body {
  margin: 44px auto;
  padding: 60px 0 100px 0;
  text-align: center;
}

.list-body li {
  padding-bottom: 20px;
}

.list-body input {
  height: 40px;
  width: 50%;
  text-align: center;
}

.add {
  display: block;
  margin: 15px auto;
}


/*
  ========================================
  ITEMS
  ========================================
*/

#list {
  position: relative;
  padding: 100px 0 56px 0;
}

.item {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 56px;
  padding: 16px 0 0 50px;
  text-align: center;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  letter-spacing: -0.8px;
}

.item:nth-child(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.item:hover {
  cursor: pointer;
}

ul .completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.26);
}

.delete {
  position: relative;
  background: url(../img/close-icon.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  height: 24px;
  width: 24px;
  float: right;
  right: 16px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ui-sortable li:active {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition-delay: 0.1s;
}




